body{
    background-color: darkgrey;
}
.mainDiv{
    display: initial;
    position: relative;
  
}

.mainDiv2{
    background-image: url(./gif/pikachu.gif);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100px;
    display: block;
    flex-direction: column;
    padding-top: 125px;
    text-align: center;
    color:floralwhite;
}


.boxes{
    gap: 1px;
}
.boxG{
    background-image: url(./gif/abra_pokemon.gif);
    background-size: 50px;
    background-repeat: no-repeat;
    background-position: center;
    box-shadow: inset 0 -3em 3em rgba(0, 0, 0, 0.1), 0 0 0 2px rgb(255, 255, 255),
    0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
    width: 100px;
    height: 50px;
    border: none;
    margin: 5px;
    border-radius: 5px;
    font-weight: bold;
   background-color: rgb(125, 132, 75);
    cursor: pointer;
}
.boxP{
    background-image: url(./gif/absol_pokemon.gif);
    background-size: 50px;
    background-repeat: no-repeat;
    background-position: center;
    box-shadow: inset 0 -3em 3em rgba(0, 0, 0, 0.1), 0 0 0 2px rgb(255, 255, 255),
    0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
    width: 100px;
    height: 50px;
    border: none;
    margin: 5px;
    border-radius: 5px;
    font-weight: bold;
   background-color: rgb(125, 132, 75);
    cursor: pointer;
}
.box1,.box2, .box3, .box4, .box5, .box6, .box7, .box8, .box9{
  
    box-shadow: inset 0 -3em 3em rgba(0, 0, 0, 0.1), 0 0 0 2px rgb(255, 255, 255),
    0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
    width: 100px;
    height: 50px;
    border: none;
    margin: 5px;
    border-radius: 5px;
    font-weight: bold;
   background-color: rgb(125, 132, 75);
    cursor: pointer;
}

.win{
    display: none;
    font-style: oblique;
}
.nameIn, .nameIn2, .roundIn{
    box-shadow: inset 0 -3em 3em rgba(0, 0, 0, 0.1), 0 0 0 2px rgb(255, 255, 255),
    0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    padding: 5px;
}
.nameIn:focus, .nameIn2:focus, .roundIn:focus{
    background-color: rgb(219, 219, 166);
    color: rgb(93, 35, 35);
    
}
.reset,.roundSubmit, .roundSubmit2{
    display: initial;
    width: 100px;
    box-shadow: inset 0 -3em 3em rgba(0, 0, 0, 0.1), 0 0 0 2px rgb(255, 255, 255),
    0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    margin: 10px;
    background-color: rgb(42, 165, 79);
    color: beige;
    
}
.reset{
    background-color: rgba(86, 53, 18, 0.746);
}


.player2Details{
    display: none;
}




.reload,.dataStore{
    box-shadow: inset 0 -3em 3em rgba(0, 0, 0, 0.1), 0 0 0 2px rgb(255, 255, 255),
    0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
    color: aliceblue;
    width: 100px;
    height: 50px;
    border: none;
    margin: 5px;
    border-radius: 5px;
    font-weight: bold;
   background-color: rgb(152, 103, 103);
    cursor: pointer;
}

.roundIn2{
    display: none;
}

.logo{
    border-radius: 5px;
    width: 25px;
    height: 25px;
}



.roundSubmit2, .nameIn2, .player2Name{
    display: none;
}


footer {
    color: #fff;
    padding: 20px;
  }
  
  .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .container p {
    margin: 0;
  }
  
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  
  li {
    display: inline-block;
    margin-right: 20px;
  }
  
  a {
    color: #fff;
    text-decoration: none;
  }
  
  @media only screen and (max-width: 767px){
    
        .logo{
            border-radius: 5px;
            padding-left: 125px;
            width: 25px;
            height: 25px;
        }
    }
  