body{
    background-color: darkgrey;
}
.mainDiv{
    display: flex;
    flex-direction: column;
}
.boxes{
    display:flex;
    flex-direction: row;
    gap: 1px;
}

.dataStore,#box1,#box2, #box3, #box4, #box5, #box6, #box7, #box8, #box9{
    width: 10em;
    height: 5ex;
    border: none;
    margin: 5px;
    border-radius: 5px;
    font-weight: bold;
   background-color: black;
    cursor: pointer;
}

.dataStore{
    color: white;
}

