body{
    background-color: darkgrey;
}

.boxes{
    display:flex;
    flex-direction: row;
    gap: 1px;
}

.reset,#box1,#box2, #box3, #box4, #box5, #box6, #box7, #box8, #box9{
    width: 10em;
    height: 5ex;
    border: none;
    margin: 5px;
    border-radius: 5px;
    font-weight: bold;
   background-color: black;
    cursor: pointer;
}

.reset{
    color: white;
}
.btn1:focus {
    outline-color: transparent;
    outline-style:solid;
    box-shadow: 0 0 0 4px #5a01a7;
    transition: 0.7s;
}

.box1:active{
   background-color: bisque;
}